{% extends 'base.html.twig' %}

{% block title %}Edit Station{% endblock %}

{% block body %}
    <h1>Edit Station</h1>

    {{ include('station/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_station_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}{{ include('station/_delete_form.html.twig') }}{% endif %}
{% endblock %}
